html,
body {
        width: 100%;
        height: 100%;
      }

#map {
    height:100%;
    
    width: 100%;
    
  }

.ui.basic.button{
    border-radius: 2px;
    
}
  #floating-panel {

    
    position: absolute;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #999;
     
    
    
     
    top: 60px;
    left: 10px;
   
    z-index: 5;
    margin:0px;

    
    
  }

  .button:first-child{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .button:last-child{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  #buttons{
      z-index: 5;
  }
  #deleteChecked{
   
        position: absolute;
        bottom: 12px;
        right: 10px;
        z-index: 5;
        
      
  }
  .red.tui-grid-cell {background-color: #ab4642;}
  .orange.tui-grid-cell {background-color: #dc9656;}
  .yellow.tui-grid-cell {background-color: #f7ca88;}
  .green.tui-grid-cell {background-color:#a1b56c;}
  .blue.tui-grid-cell {background-color:#86c1b9;}
  .navy.tui-grid-cell {background-color: #7cafc2;}
  .purple.tui-grid-cell {background-color: #ba8baf;}
  
  .ui.action.input input[type="file"] { display: none; }

  

  #excelFile{
      visibility: hidden;
      padding:0px;
      margin:0px;
  }

