html,
body {
        width: 100%;
        height: 100%;
      }

#map {
    height:100%;
    
    width: 100%;
    
  }
#hihi{
   
    margin:20px;
}
.ui.button{
    border-radius: 0rem;
}
  #floating-panel {
    position: absolute;
    top: 10%;
    left: 1%;
    z-index: 5;
    
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
  }

  #buttons{
      z-index: 5;
  }
  #delete-some{
   
        position: absolute;
        bottom: 0px;
        right: 0%;
        z-index: 5;
        
        border-radius: 0.1rem;
        

        text-align: center;
        
      
  }
  .red.tui-grid-cell {background-color: #ab4642;}
  .orange.tui-grid-cell {background-color: #dc9656;}
  .yellow.tui-grid-cell {background-color: #f7ca88;}
  .green.tui-grid-cell {background-color:#a1b56c;}
  .blue.tui-grid-cell {background-color:#86c1b9;}
  .navy.tui-grid-cell {background-color: #7cafc2;}
  .purple.tui-grid-cell {background-color: #ba8baf;}
  
  .ui.action.input input[type="file"] { display: none; }

  .tui-colorpicker-palette-toggle-slider{
      visibility: hidden;
  }

  .tui-colorpicker-palette-preview{
      visibility: hidden;
  }
  .tui-colorpicker-palette-hex{
      visibility: hidden;
  }
  .tui-colorpicker-palette-button{
      height:25px;
      width: 25px;
  }

  #excelFile{
      visibility: hidden;
      padding:0px;
      margin:0px;
  }

